.panel 
{
	border-color: #white;
	width: 100%;
}
.panel > .panel-heading 
{
	background-color: #00B398;
	border-color: white;
	color: white;
	font-weight: bold;
}

.panel > .panel-body > a 
{
	color: #00B398;
}

.fa 
{
	padding-left: 0.25em;
	padding-right: 0.25em;
}

/* Stick to original logo colors */
.fa-facebook
{
	color: #3b5998;
}

.fa-twitter
{
	color: #00a0d1;
}

.fa-linkedin
{
	color: #4875B4;
}

.fa-instagram
{
	color: #4E433C;
}

.fa-google-plus
{
	color: #C63D2D;
}

/* Smart phones */
@media only screen and (max-width: 480px)
{
   .fa { font-size: 2em; }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px)
{
   .fa { font-size: 3em; }
}

/* Laptops or desktops */
@media only screen and (min-width: 1025px)
{
   .fa { font-size: 3.5em; }
}