h4
{
	color: #00B398;
}

.edit-box
{
	text-align: center;
}

.edit
{
	display: inline-block;
	height: 60px;
	position: relative;
	vertical-align: top;
}

.edit > a
{
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
}

.glyphicon
{
	font-size: 1.5em;
}

.profile-pic > img
{
	border: 4px solid white;
	background: white;
}

.row
{
	padding-bottom: 10px;
}

.panel 
{
	border-color: white;
	width: 100%;
}
.panel > .panel-heading 
{
	background-color: #00B398;
	border-color: white;
	color: white;
	font-weight: bold;
}

.panel > .panel-body > a 
{
	color: #00B398;
}

.fa 
{
	padding-left: 0.25em;
	padding-right: 0.25em;
}

/* Stick to original logo colors */
.fa-facebook
{
	color: #3b5998;
}

.fa-twitter
{
	color: #00a0d1;
}

.fa-linkedin
{
	color: #4875B4;
}

.fa-instagram
{
	color: #4E433C;
}

.fa-google-plus
{
	color: #C63D2D;
}

/* For inactive social media links */
.inactive
{
	color: #B4B4B4;
	cursor: not-allowed;
}

/* Smart phones */
@media only screen and (max-width: 480px)
{
   .fa { font-size: 2.5em; }
   .edit {	width: 50%;	}
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px)
{
   .fa { font-size: 3em; }
   .edit {	width: 50%;	}
}

/* Laptops or desktops */
@media only screen and (min-width: 1025px)
{
   .fa { font-size: 3em; }
   .edit {	width: 30%;	}
}